.wp-block-mytheme-blocks-team-members {
    display: flex;
    flex-wrap: wrap;
    //background-color: green;
    @for $i from 1 through 6 {
        &.has-#{$i}-columns {
            .wp-block-mytheme-blocks-team-member {
                width: calc(100% /#{$i}) !important;
                //@at-root: indigo;
            }
        }
    }
    .wp-block-mytheme-blocks-team-member {
        &__title {
            color: #222;
            //color: green;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0;
        }
        &__info {
            color: #565656;
            //color: red;
            font-weight: 300;
            margin-bottom: 5px;
        }
    }
}

//.wp-block-mytheme-blocks-team-members.has-2-colunns .wp-block-mytheme-blocks-team-member  {
